<h1>Flight Search</h1>

<form>
  <div>
    <label for="from">From:</label>
    <input [formField]="filterForm.from" id="from" aria-label="from" />
  </div>
  <div>
    <label for="to">To:</label>
    <input [formField]="filterForm.to" id="to" aria-label="to" />
  </div>
  <div>
    {{ flightRoute() }}
  </div>
  <div>
    <button
      type="button"
      (click)="search()"
      [disabled]="!filter().from || !filter().to">
      Search
    </button>
    <button type="button" (click)="delay()">Delay</button>
  </div>
  @if (isLoading()) {
    <div>Loading ...</div>
  }
</form>

@if (!error()) {
  <div class="row">
    @for (f of flightsWithDelay(); track f.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card
          [item]="f"
          [selected]="basket()[f.id]"
          (selectedChange)="updateBasket(f.id, $event)">
          <button
            [routerLink]="['../flight-edit', f.id, { showDetails: true }]">
            Edit
          </button>
        </app-flight-card>
      </div>
    }
  </div>
} @else {
  <div>
    {{ error() }}
  </div>
}

<p>&nbsp;</p>

<div>
  <pre>{{ basket() | json }}</pre>
</div>
