<h1>Flight Search</h1>

<form>
  <div class="form-group">
    <label for="from">From:</label>
    <input [(ngModel)]="from" id="from" name="from" />
  </div>
  <div class="form-group">
    <label for="to">To:</label>
    <input [(ngModel)]="to" id="to" name="to" />
  </div>

  <div class="form-group">Route: {{ flightRoute() }}</div>

  <div class="form-group">
    <button (click)="search()" [disabled]="!from() || !to()">Search</button>
  </div>
</form>

@if (flights().length > 0) {
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      @for (flight of flights(); track flight.id) {
        <tr
          [class.selected]="flight === selectedFlight()"
          (click)="select(flight)"
          class="selectable">
          <td>{{ flight.id }}</td>
          <td>{{ flight.from }}</td>
          <td>{{ flight.to }}</td>
          <td>{{ flight.date | date: 'dd.MM.yyyy' }}</td>
        </tr>
      }
    </tbody>
  </table>
}

@if (selectedFlight()) {
  <pre>{{ selectedFlight() | json }}</pre>
}
