<h1>Flight Edit</h1>

<!-- <p>
  {{ flightForm().errorSummary() | json }}
</p> -->

@if (flight().id !== 0) {
  <app-validation-errors-pane [errors]="flightForm().errors()" />

  <form class="flight-form" [formRoot]="flightForm">
    <app-flight [flight]="flightForm"></app-flight>
    <app-prices [prices]="flightForm.prices"></app-prices>
    <app-aircraft [aircraft]="flightForm.aircraft"></app-aircraft>

    <div class="mt-40">
      <button>Save</button>
    </div>
  </form>
}
@if (isPending()) {
  <p>Saving ...</p>
}

« <a [routerLink]="['../../flight-edit', flight().id]">Hide Details</a>
