<h1>Booking Summary</h1>

<h2>Selected Flights</h2>

<div class="row">
  @for (flight of selectedFlights(); track flight.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card
        [item]="flight"
        [selected]="true"
        (selectedChange)="
          updateFlightSelection(flight.id, $event)
        "></app-flight-card>
    </div>
  } @empty {
    <p class="info">No flights selected</p>
  }
</div>

<p>&nbsp;</p>

<h2>Selected Passengers</h2>

<div class="row">
  @for (passenger of selectedPassengers(); track passenger.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-passenger-card
        [item]="passenger"
        [selected]="true"
        (selectedChange)="
          updatePassengerSelection(passenger.id, $event)
        "></app-passenger-card>
    </div>
  } @empty {
    <p class="info">No passengers selected</p>
  }
</div>
