<h1>Flight Edit</h1>

@if (flight().id !== 0) {
  @for (error of flightForm().errorSummary(); track error) {
    <div>{{ error.fieldTree().name() }}: {{ error.kind }}</div>
  }
  <form [formRoot]="flightForm">
    <div>
      <label for="flight-id">ID</label>
      <input [formField]="flightForm.id" type="number" id="flight-id" />
      @if (flightForm.id().invalid()) {
        <div>{{ flightForm.id().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="flight-from"> From </label>
      <input [formField]="flightForm.from" id="flight-from" />
      @if (flightForm.from().invalid()) {
        <div>{{ flightForm.from().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="flight-to"> To </label>
      <input [formField]="flightForm.to" id="flight-to" />
      @if (flightForm.to().invalid()) {
        <div>{{ flightForm.to().errors() | json }}</div>
      }
    </div>

    <div>
      <label for="flight-date">Date</label>
      <div>
        <input
          class="form-control"
          type="datetime-local"
          [formField]="flightForm.date"
          id="flight-date" />
      </div>
      @for (error of flightForm.date().errors(); track error) {
        <div>Error: kind={{ error.kind }}</div>
        <br />
      }
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          class="form-check-input"
          [formField]="flightForm.delayed"
          id="flight-delayed" />
        Delayed</label
      >
    </div>

    <div class="mt-40">
      <button [disabled]="isDisabled()">Save</button>
    </div>
  </form>

  <a [routerLink]="['../../advanced-flight-edit', flight().id]">Show Details</a>
  »
}
