<table class="table">
  <tr>
    @for (field of fields(); track field) {
      <th (click)="sort(field.propName())">
        {{ colInfo()[field.propName()] }}
      </th>
    }
  </tr>

  @for (row of pagedData(); track $index) {
    <tr [class.empty-row]="!row">
      @for (field of fields(); track field) {
        <td>
          @if (row) {
            <ng-container
              *ngTemplateOutlet="
                field.templateRef;
                context: { $implicit: row[field.propName()] }
              "></ng-container>
          } @else {
            &nbsp;
          }
        </td>
      }
    </tr>
  }
</table>

<div class="pagination">
  <button
    (click)="previousPage()"
    [disabled]="currentPage() === 0"
    class="btn btn-default">
    ←
  </button>
  <span class="page-info">
    Page {{ currentPage() + 1 }} of {{ totalPages() }}
  </span>
  <button
    (click)="nextPage()"
    [disabled]="currentPage() >= totalPages() - 1"
    class="btn btn-default">
    →
  </button>
</div>
